<% contacts.forEach(contact => { %>
    
<div className='card'>
  <div className='card-body'>
    <h2><%= contact.lastName %>, <%= contact.firstName %></h2>

  </div>
  <ul className='list-group list-group-flush' style='font-size: 25px;'>
    <li className='list-group-item'>Company: <%= contact.company %></li>
    <li className='list-group-item'>Email: <%= contact.email %></li>
    <li className='list-group-item'>Email: <%= contact.meetingLocation %></li>
    <li className='list-group-item'>Other Notes: <%= contact.otherNotes %></li>
  </ul>
</div>

<% }); %>


